button:hover {
    transform: scale(1.15);
    transition:0.1s;
    border-color: rgb(93, 197, 245);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
 }

 .back:hover {
    transform: scale(1.15);
    transition:0.1s;
    border-color: rgb(93, 197, 245);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
 }