.suscribete {
    background-color: rgb(93, 197, 245);
    text-align: left;
    border-style: groove;
    border-color: rgb(39, 136, 181);
    border-width: 3px;
    border-radius: 5%;
    margin-top: 10px; 
    font-style: italic;   
}


